<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>

      <authenticationProvider type="Unicorn.ControlPanel.Security.ChapAuthenticationProvider, Unicorn">
        <!--Configues a strong randomized shared secret here. At least 64 characters is recommended-->
        <SharedSecret>yYDmJC020tTSDciDiXLIykdBEKBpapsDHxCbueVNp8cQ2r1KMPD3kHcSsjrGXtTq</SharedSecret>
      </authenticationProvider>

      <configurations>
        <configuration name="Foundation.Unicorn.Root" description="Root folders">

          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Unicorn\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!--
							Each include can also exclude specific subitems by path:
							<exclude path="/sitecore/content"/>

							Excludes may also exclude all children at once by adding a trailing slash, e.g. this would include the root /sitecore item but no children
							<include path="/sitecore">
								<exclude path="/sitecore/" />
							</include>

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items
							NOTE: the "name" attribute controls the folder name the items will go into (for SFS). If unspecified, the last path segment is used. Names must be unique across the configuration.
						-->
            <!-- Settings -->
            <include name="Foundation.Unicorn.Settings.Feature" database="master" path="/sitecore/system/Settings/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Settings.Project" database="master" path="/sitecore/system/Settings/Project">
              <exclude children="true" />
            </include>

            <!-- Templates -->
            <include name="Foundation.Unicorn.Templates.Feature" database="master" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Templates.Project" database="master" path="/sitecore/templates/Project">
              <exclude children="true" />
            </include>

            <!-- Renderings -->
            <include name="Foundation.Unicorn.Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Renderings.Project" database="master" path="/sitecore/layout/renderings/Project">
              <exclude children="true" />
            </include>

            <!-- Layouts -->
            <include name="Foundation.Unicorn.Layouts.Feature" database="master" path="/sitecore/layout/layouts/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Layouts.Foundation" database="master" path="/sitecore/layout/layouts/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Layouts.Project" database="master" path="/sitecore/layout/layouts/Project">
              <exclude children="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="Foundation.Unicorn.PlaceholderSettings.Feature" database="master" path="/sitecore/layout/placeholder settings/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/placeholder settings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project">
              <exclude children="true" />
            </include>

            <!-- Media | Technical assets -->
            <include name="Foundation.Unicorn.Media.Feature" database="master" path="/sitecore/media library/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Media.Foundation" database="master" path="/sitecore/media library/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Media.Project" database="master" path="/sitecore/media library/Project">
              <exclude children="true" />
            </include>

            <!-- Media | Root folder/structure for content images -->
            <include name="Foundation.Unicorn.Media.Images.Feature" database="master" path="/sitecore/media library/Images/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Media.Images.Foundation" database="master" path="/sitecore/media library/Images/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Unicorn.Media.Images.Project" database="master" path="/sitecore/media library/Images/Project">
              <exclude children="true" />
            </include>

            <!-- Core Custom Experience Buttons-->
            <include name="Foundation.Core.CustomExperienceButtons.Feature" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Core.CustomExperienceButtons.Foundation" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Core.CustomExperienceButtons.Project" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Project">
              <exclude children="true" />
            </include>

            <!-- Core Custom Edit Frame Buttons-->
            <include name="Foundation.Core.EditFrameButtons.Feature" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Core.EditFrameButtons.Foundation" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Core.EditFrameButtons.Project" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Project">
              <exclude children="true" />
            </include>

            <!-- Languages -->
            <!--<include name="Foundation.Unicorn.Languages" database="master" path="/sitecore/system/Languages">
            </include>-->

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
