<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Templates" description="Templates" dependencies="Foundation.*,Feature.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\DemoSite\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Common.Website.Templates" database="master" path="/sitecore/templates/Project/Common" />
            <include name="DemoSite.Website.Templates" database="master" path="/sitecore/templates/Project/Demo Site" />
          </predicate>
        </configuration>
        <configuration name="Project.DemoSite.Website" description="DemoSite Website (content, roles and users)" dependencies="Foundation.*,Feature.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\DemoSite\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="DemoSite.Website.DataSources" database="master" path="/sitecore/content/DataSources" />
            <include name="DemoSite.Website.RenderingViews" database="master" path="/sitecore/content/Rendering Views" />
            <include name="DemoSite.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/DemoSite" />
            <include name="DemoSite.Website.Media" database="master" path="/sitecore/media library/Project/DemoSite" />
          </predicate>
        </configuration>

        <configuration name="Project.DemoSite.Home" description="Home" dependencies="Foundation.*,Feature.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\DemoSite\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="DemoSite.Website.Home" database="master" path="/sitecore/content/Home" />
          </predicate>
        </configuration>

        <configuration name="Project.PlaceholderSettings" description="Placeholder Settings" dependencies="Foundation.*,Feature.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\DemoSite\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="DemoSite.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/DemoSite" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
