@model HelixHub.Feature.DynamicComponents.Models.ColumnModel
@using Sitecore.Mvc
<div class="col-@Model.Size-@Model.ColumnNumber.ToString()">
    @Html.Sitecore().DynamicPlaceholder("dv-column")
</div>
