<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.DynamicComponents" description="Feature DynamicComponents" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\DynamicComponents\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.DynamicComponents.Templates" database="master" path="/sitecore/templates/Feature/Dynamic Components" />
            <include name="Feature.DynamicComponents.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Dynamic Components" />
            <include name="Feature.DynamicComponents.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Feature/Dynamic Components" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
